@media only screen and (max-width: 1200px) {
    .aboutimg {
      min-height: 700px;
    }

    .about .container img {
        max-width: 350px;
    }

    .testrow {
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    .aboutimg {
      min-height: 800px;
    }

    .testrow {
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .aboutimg {
      min-height: 900px;
    }
}